
course_data_2025/Dataset/End_to_End_Challenge/cpe107_plasmid_SE.fastq.gz
course_data_2025/Dataset/End_to_End_Challenge/cpe108_plasmid_SE.fastq.gz
course_data_2025/Dataset/End_to_End_Challenge/cpe109_plasmid_SE.fastq.gz
course_data_2025/Dataset/End_to_End_Challenge/cpe110_plasmid_SE.fastq.gz
course_data_2025/Dataset/AMR_genotypes+phenotypes/amrfinder_all.txt
course_data_2025/Dataset/AMR_genotypes+phenotypes/AST_phenotype.xlsx
course_data_2025/Dataset/AMR_genotypes+phenotypes/card_all.tab
course_data_2025/Dataset/AMR_genotypes+phenotypes/card_all_summary.tab
course_data_2025/Dataset/AMR_genotypes+phenotypes/plasmidfinder_all.tab
course_data_2025/Dataset/AMR_genotypes+phenotypes/plasmidfinder_all_summary.tab
course_data_2025/Dataset/AMR_genotypes+phenotypes/resfinder_all.tab
course_data_2025/Dataset/AMR_genotypes+phenotypes/resfinder_all_summary.tab
